*{
    margin:0;
    padding:0;
}


.accueil{
    font:var(--comfortaa);
    width: clamp(500px, 70%, 1000px);
    text-align: center;
    padding: 15px;
    margin-right: auto;
    margin-top: 200px;
    margin-left: auto;
    color:var(--grey);
    font-size: 3rem;
}

.accueil span{
    color: var(--green-light);
    font-weight: bolder;
}
