.benevoles{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 15px;
    margin-right: auto;
    margin-top: 300px;
    margin-left: auto;
    background-color: var(--green-light);
    color:var(--grey);
    font-size: 1.25rem;
    border-radius: 15px;
    box-shadow: 4px 4px 7px var(--grey);
    
}

.select{
    margin :10px;
    width: 300px;
    text-align: center;
    font-size: 1rem;
    font-family: var(--comfortaa);
    padding:5px;
    background-color: var(--creme);
}

.select,
::picker(select) {
  appearance: base-select;
}
option:hover, option:focus{
    background-color: var(--green-light);
    color:var(--yellow-ocre);
}

.button{
    background-color: var(--yellow-ocre);
    color:var(--green-dark);
    margin:10px;
    width: max-content;
    font-size: 1.25rem;
    padding:10px 20px 10px 20px;
    border-radius:30px;
    font-family: var(--montserrat);
    font-weight: bold;
    border:3px solid var(--yellow-ocre);
}

.button:hover{
    background-color: var(--green-light);
    color:var(--green-dark);
    border:3px solid var(--yellow-ocre);
}
.button:active{
    background-color: var(--green-dark);
    color:var(--yellow-ocre);
    border:3px solid var(--green-dark);
}
