.filtres {
    width: 240px;
    flex-shrink: 0; /* Empêche les filtres de réduire en largeur */
    margin-top: 0px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtres > * {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    font-size: 1.25rem;
}

.filtreRecherche{
    background-color: var(--creme);
    border-radius: 20px;
}

.filtreCategorie >
        option:focus, option:focus{
        background-color: var(--green-light);
        color:var(--yellow-ocre);
    }

.filtreCategorie{
    border-radius: 20px;
}

