.stats {
    color: var(--grey);
    Font-size: 1.5rem;
    Text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1%;
    margin-left: 20%;
    margin-right: 20%;
}

.stats h1 {
    color: var(--green-dark);
    Font-size: 3rem;
    Text-align: center;  
}

.stats div h2 {
    color: var(--green-light);
    Font-size: 2rem;
    Text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

.carte_stats {
    background-color: var(--yellow-ocre);
    border-radius: 10px;
    padding: 1rem 0 1rem 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.carte_stats:hover{
    background-color: var(--green-dark);
    color:var(--yellow-ocre);
}

.titre_stats{
    font-weight: bold;

}

.status_stats {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.status_stats h2:nth-child(1) {
  width: 100%;
  flex-grow: 3;
}

.status_stats .carte_stats:nth-child(2),
.status_stats .carte_stats:nth-child(3),
.status_stats .carte_stats:nth-child(4),
.status_stats .carte_stats:nth-child(5),
.status_stats .carte_stats:nth-child(6) {
  width: 15%;
}

.stats h1:nth-child(1),
.stats div:nth-child(2){
    width: 100%;
    flex-grow: 0;
}

.stats div:nth-child(3),
.stats div:nth-child(4){
    width: 45%;
}